/* base vuejs CSS */
@import './base.css';

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(32, 172, 227);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(199, 82%, 52%, 0.2);
  }
}

@media (min-width: 960px) {
  body {
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}
